<!-- 
        <div className="projectionContainer" (click)="openReservationMenu()">
            <div className="projectionDate">
                {{projection['date']}}
            </div>
            <div className="projectionTime">
                {{projection['time']}}
            </div>
            
                <div className="projectionFilmTitle">
                    {{projection['filmTitle']}}
                </div>
            
            <div className="projectionRoomName">
                {{projection['roomName']}}
            </div>

            <div className="horizontalSpacer"></div>

            <div className="projectionAvailableTicketsLabel">
                dostępnych miejsc: 
            </div>
            <div className="projectionAvailableTickets">
                {{projection['availableTickets']}}
            </div>
            <div className="projectionNumberOfSeatsLabel">
                z
            </div>
            <div className="projectionNumberOfSeats">
                {{projection.numberOfSeats}}
            </div>
        </div> -->